#findSpacer {
	height: 6px;
}
#findList {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}
.findItem {
	cursor: pointer;
	white-space: nowrap;
	margin: 0px 10px 6px 10px;
	padding: 8px;
	font-size: 0.8em;
	border-radius: 2px;
	box-shadow: 0px 0px 8px grey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
:where(html:not(.is-light)) .findItem {
	box-shadow: 0px 0px 8px black;
}
.findText {
	color: var(--treeitem-color);
	height: 100%;
	width: 90%;
	word-wrap: break-word;
	white-space: wrap;
}
.findFoot {
	height: 100%;
	color: var(--treeitem-color);
	float: right;
	font-size: 0.6em;
	align-self: flex-end;
}
.findSelected {
	background-color: grey;
}