#findMenu {
	width: 200px;
	right:  0px;
	position: absolute;
	height: calc(100% - var(--toolbar-height));
	inset-block: var(--toolbar-height)
}
#findList {
	overflow-y: auto;
	width: 100%;
	height: calc(100% - var(--toolbar-height));
}
.findItem {
	cursor: pointer;
	width: calc(200px - 20px);
	height: 200px;
}